<header class="header">
  <img src="/seapps-name.png" class="nav_logo">
  <nav>  
      <li class="navbar_item">
        <a href="/user/login" class="navbar_links">Log-in as User</a></li>
      <li class="navbar_item">
        <a href="/employee/login" class="navbar_links">Log in as Employee</a></li>
  </nav>
</header>