<header class="header">
  <img src="/seapps-name.png" class="nav_logo">
  <nav>  
      <li class="navbar_name">
        Welcome, <%= user.name %> </li>
      <li class="navbar_item">
        <a href="/logout" class="btn">LOG OUT</a></li>
  </nav>
</header>
