<label>
    <input type="checkbox" class="sidebar_input">
    <div class="toggle">
        <span class="top_line common"></span>
        <span class="middle_line common"></span>
        <span class="bottom_line common"></span>
    </div>
    </input>
    <div class="slide">
        <h3 class="slide_title"> <%= user.name %> </h3>
        <ul>
            <li> <a href="/user/dashboard"> <i class="fas fa-tv"></i> Dashboard</a></li>
            <li> <a href=""> <i class="fas fa-user"></i> Users</a></li>
        </ul>
    </div>
</label>